services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-CU21-ubuntu-22.04
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=YourStrong@Passw0rd
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql

volumes:
  sqlserver_data:

